# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Data
data/raw/
data/processed/

# Models
models/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/